body {
    background-color: #291670;
}

.card {
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.container h1 {
    color: white;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
} 
/* Extra small devices (phones, 600px and down) */
button[disabled] {
    opacity: 0.5; /* Make disabled buttons appear faded */
    cursor: not-allowed; /* Show a 'not allowed' cursor on hover */
}

/* Custom responsive styles */
@media only screen and (max-width: 600px) {
    .form-control, .btn {
        font-size: 14px;
    }

    .table-responsive {
        overflow-x: auto; /* Horizontal scroll for tables */
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media only screen and (min-width: 600px) {
    .form-control, .btn {
        font-size: 16px;
    }
}